.button {
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 1rem 2.5rem;
}

@media (min-width: 320px) and (max-width: 425px) {
    .button {
        padding: 1rem;
        width: 100%;
    }
}
