.list {
  display: flex;
  list-style-type: none;
}

.list > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 425px) {
  .list > div {
    width: 250%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .list {
    width: 50%;
    justify-content: center;
  }
}
