.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (min-width: 320px) and (max-width: 425px) {
  .list {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .list {
    width: 90%;
    justify-content: center;
  }
}
