.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-white);
}

.section > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
  padding: 6rem;
}
